input {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 360px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    box-sizing: border-box;
     
}

label{
  right: 0px;
  width: 360px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.form-control {
  height: auto;
  margin-top: 30px;
  max-width: 55%;
}

.cadastro {
  color: black;
  font-size: 30px;
}

h3 {
  text-align: center;
  padding-bottom: 2%;
}

.btn {
  margin-right: 3%;
  
}

.buttons {
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
   
}

.form-group {
  font-weight: bold;
  color: #f7fff7;
}
