html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/imagem.jpg");
  background-size: cover;
  background-position: center;
}
